*{
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6FA;
}

#Contenido{
    width: 1440px;
    height: 1070px;
    background-color: #FFFFFF;

    position: relative;
}
#menu-lateral{
    position: absolute;
    width: 240px;
    height: 1070px;
}

#logo{
    width: 129px;
    height: 27px;
    margin-top: 24px;
    margin-left: 66px;

    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
}

#logo > span{
    color: #4880FF;
}

.Products{
    cursor: pointer;
    width: 240px;
    height: 50px;

    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin-left: 20px;
}
#Dashboard-Icon{
    width: 192px;
    height: 50px;

    background-color: #4880FF;
    color:#FFFFFF ;
    border-radius: 6px;
}
.Products > img{
    width: 22px;
    height: 25px;
    margin-left: 20px;
}
ul{
    padding: 0px;
}

nav > h2{
    width: 41px;
    height: 16px;

    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.26px;
    opacity: 60%;
    color:  #202224;

    margin-top: 16px;
    margin-left: 40px;
}

#menu-lateral > hr{
    width: 240px;
    height: 1px;
    color: #E0E0E0;
}
#contenido-web{
    position: absolute;
    left: 239px;

    width: 1202px;
    height: 1070px;
}
#menu-superior{
    width: 1201px;
    height: 70px;
}
#menu-superior > nav{
    display: flex;
}

#desplegable{
    width: 24px;
    height: 24px;

    margin-top: 23px;
    margin-left: 30px;
    opacity: 89.8%;
    color: #202224;
}
#menu-superior > nav > button{
    width: 388px;
    height: 38px;
    margin-top: 16px;
    margin-left: 24px;
    border: 0.6px solid #D5D5D5;
    border-radius: 19px;

    display: flex;
}

#menu-superior > nav > button > img{
    width: 16px;
    height: 16px;

    margin-left: 16px;
    margin-top: 10px;
    opacity: 50%;
}
#menu-superior > nav > button > input{
    width: 43px;
    height: 19px;
    
    margin-top: 10px;
    margin-left: 13px;

    border: 0px solid;
    background-color: transparent;

    opacity: 50%;
    color: #202224;

    font-weight: 400;
    font-size: 13px;
}

#notificaciones{
    width: 29px;
    height: 31px;

    margin-top: 19px;
    margin-left: 330px;
}
#idioma{
    width: 40px;
    height: 27px;

    margin-top: 22px;
    margin-left: 26px;
}
#menu-superior > nav > select{
    width: 68px;
    height: 19px;
    border: 0px solid;
    margin-top: 27px;
    margin-left: 16px;
    display: flex;
    gap: 10px;
   

    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    color: #646464;
}

#fotoPerfil{
    width: 44px;
    height: 44px;
}

#informacionUsuario{
    width: 169px;
    height: 44px;

    margin-top: 13px;
    margin-left: 26px;

    display: flex;
}
#informacionUsuario > div{
    margin-left: 20px;
}

#nombreUsuario{
    width: 61px;
    height: 18px;

    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    color: #404040;
    margin-top: 3px;
    margin-bottom: 0px;
}

#tipoPerfil{
    width: 37px;
    height: 16px;

    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    color: #565656;
    margin-top: 3px;
}

#flecha{
    width: 18px;
    height: 18px;

    margin-top: 10px;
    margin-left: 26px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.2px solid #5C5C5C;
    border-radius: 100%;
    background-color: transparent;
}

#web{
    width: 1202px;
    height: 1070px;
    background-color:#F5F6FA ;

    position: absolute;

}
#web > h1{
    width: 161px;
    height: 44px;

    margin-top: 30px;
    margin-left: 30px;

    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.11px;

    color: #202224;
}
#utlimaHora{
    display: flex;
    gap: 30px;
    margin-top: 27px;
}
.noticia{
    width: 262px;
    height: 161px;

    border-radius: 14px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 54 #0000000D;
    margin-left: 30px;
    position: relative;
}

.contenidoNoticia > img{
    position: absolute;
    width: 60;
    height: 60;
    left: 170px;
    top: 16px;
}

.tipoNoticia{
    width: 100px;
    height: 22px;

    margin-top: 16px;
    margin-left: 16px;

    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    opacity: 70%;
    color: #202224;
}

.cantidadUsuarios{
    width: 114px;
    height: 38px;

    margin-top: 16px;
    margin-left: 16px;

    font-weight: 700;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #202224;
}

.mercado{
    width: 231px;
    height: 24px;

    margin-top: 29px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.mercado > img{
    width: 24px;
    height: 24px;
    margin: 0px;
}
.mercado > p{
    width: 199px;
    height: 22px;

    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    
    display: flex;
    align-items: center;
}

#grafico {
    width: 100%; 
    max-width: 1268px; 
    height: 444px; 
    
    background-image: url(img/GraficoPrincipal.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
#tabla{
    width: 100%; 
    max-width: 1268px;
    height: 420px; 
    
    background-image: url(img/Deals\ Details.svg);
    background-size: contain; 
    background-repeat: no-repeat;
}
