*{
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6FA;
}

#Contenido{
    width: 1440px;
    height: 1070px;
    background-color: #FFFFFF;

    position: relative;
    overflow: hidden;
}
#menu-lateral{
    position: absolute;
    width: 240px;
    height: 1070px;
}

#logo{
    width: 129px;
    height: 27px;
    margin-top: 24px;
    margin-left: 66px;

    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
}

#logo > span{
    color: #4880FF;
}

.Products {
    cursor: pointer;
    width: 240px;
    height: 50px;

    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin-left: 20px;
}
#Dashboard-Icon > a{
    width: 192px;
    height: 50px;

    background-color: #4880FF;
    color:#FFFFFF ;
    text-decoration: none;
    border-radius: 6px;
}
.Products > a{
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items:center ;
    gap: 16px;
    padding: 0px;
    text-decoration: none;
    color: #202224;
    
}

.Products > a > img{
    width: 22px;
    height: 25px;
    margin-left:20px;
}

ul{
    padding: 0px;
}

nav > h2{
    width: 41px;
    height: 16px;

    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.26px;
    opacity: 60%;
    color:  #202224;

    margin-top: 16px;
    margin-left: 40px;
}

#menu-lateral > hr{
    width: 240px;
    height: 1px;
    color: #E0E0E0;
}
#contenido-web{
    position: absolute;
    left: 239px;

    width: 1202px;
    height: 1070px;
}
#menu-superior{
    width: 1201px;
    height: 70px;
}
#menu-superior > nav{
    display: flex;
}

#desplegable{
    width: 24px;
    height: 24px;

    margin-top: 23px;
    margin-left: 30px;
    opacity: 89.8%;
    color: #202224;
}
#menu-superior > nav > button{
    width: 388px;
    height: 38px;
    margin-top: 16px;
    margin-left: 24px;
    border: 0.6px solid #D5D5D5;
    border-radius: 19px;

    display: flex;
}

#menu-superior > nav > button > img{
    width: 16px;
    height: 16px;

    margin-left: 16px;
    margin-top: 10px;
    opacity: 50%;
}
#menu-superior > nav > button > input{
    width: 43px;
    height: 19px;
    
    margin-top: 10px;
    margin-left: 13px;

    border: 0px solid;
    background-color: transparent;

    opacity: 50%;
    color: #202224;

    font-weight: 400;
    font-size: 13px;
}

#notificaciones{
    width: 29px;
    height: 31px;

    margin-top: 19px;
    margin-left: 330px;
}
#idioma{
    width: 40px;
    height: 27px;

    margin-top: 22px;
    margin-left: 26px;
}
#menu-superior > nav > select{
    width: 68px;
    height: 19px;
    border: 0px solid;
    margin-top: 27px;
    margin-left: 16px;
    display: flex;
    gap: 10px;
   

    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    color: #646464;
}

#fotoPerfil{
    width: 44px;
    height: 44px;
}

#informacionUsuario{
    width: 169px;
    height: 44px;

    margin-top: 13px;
    margin-left: 26px;

    display: flex;
}
#informacionUsuario > div{
    margin-left: 20px;
}

#nombreUsuario{
    width: 61px;
    height: 18px;

    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    color: #404040;
    margin-top: 3px;
    margin-bottom: 0px;
}

#tipoPerfil{
    width: 37px;
    height: 16px;

    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    color: #565656;
    margin-top: 3px;
}

#flecha{
    width: 18px;
    height: 18px;

    margin-top: 10px;
    margin-left: 26px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.2px solid #5C5C5C;
    border-radius: 100%;
    background-color: transparent;
}

#web{
    width: 1202px;
    height: 1070px;
    background-color:#F5F6FA ;

    position: absolute;
    overflow:hidden;

}
#web > h1{
    width: 161px;
    height: 44px;

    margin-top: 30px;
    margin-left: 30px;

    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.11px;

    color: #202224;
}
#utlimaHora{
    display: flex;
    gap: 30px;
    margin-top: 27px;
}
.noticia{
    width: 262px;
    height: 161px;

    border-radius: 14px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 54 #0000000D;
    margin-left: 30px;
    position: relative;
}

.contenidoNoticia > img{
    position: absolute;
    width: 60;
    height: 60;
    left: 170px;
    top: 16px;
}

.tipoNoticia{
    width: 100px;
    height: 22px;

    margin-top: 16px;
    margin-left: 16px;

    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    opacity: 70%;
    color: #202224;
}

.cantidadUsuarios{
    width: 114px;
    height: 38px;

    margin-top: 16px;
    margin-left: 16px;

    font-weight: 700;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #202224;
}

.mercado{
    width: 231px;
    height: 24px;

    margin-top: 29px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.mercado > img{
    width: 24px;
    height: 24px;
    margin: 0px;
}
.mercado > p{
    width: 199px;
    height: 22px;

    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    
    display: flex;
    align-items: center;
}

.grafico {
    width: 1170px; 
    height: 444px; 
    margin-bottom: 30px;
    margin-left: -19px;
}
#tabla{
    width: 1270px;
    height: 267px;
    overflow: hidden;
}


#Dashboard2{
    margin-bottom: -23px;
}

.targeta_2{
    width:360px;
    height:365px;
    
    margin-top: 90px;
    margin-left: 30px;

    border-radius: 17px;
    background-color: #FFFFFF;
}

#Customer > p{
    width: 109px;
    height: 20px;

    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 0px;

    font-weight: 700;
    font-size: 21px;
    line-height: 20px;
    color: #202224;
} 
#Customer > img{
    width: 148px;
    height: 148px;

    margin-left: 107px;
    margin-top: 37px;
}

#Customer > div{
    display: flex;
    margin-top: 38px;
    margin-left: 41px;
    gap: 50px;
}

#Customer > div > div{
    width: 136px;
    height: 66px;
}
#Customer > div > div > p{
    width: 96px;
    height: 38px;
    margin-left: 12px;

    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: #202224;
    margin-bottom: 0px;
    margin-top: 0px;
}
#Customer > div > div > div{
    display: flex;
    gap: 8px;
    margin-top: 0px;
}

#Customer > div > div > div > p{
    width: 116px;
    height: 20px;

    font-weight: 6'';
    font-size: 15px;
    line-height: 20px;
    color: #202224;
    margin-top: 0px;
    margin-bottom: 0px;
}
#Customer > div > div > div > img{
    margin-top: 0px;
}
#targetas_2{
    display: flex;
}
#targeta2 > div{
    text-align: center;
}
#targeta2 > p{
    width: 176px;
    height: 20px;

    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 0px;

    font-weight: 700;
    font-size: 21px;
    line-height: 20px;
    color: #202224;
}
#flechas > img{
    margin-left: 16px;
    margin-right: 16px;
}
#flechas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 118px;

    margin-bottom: 89px;
}
#targeta2Titulo{
    width: 198px;
    height: 20px;
    margin-top: 0px;

    font-weight:700;
    font-size: 18px;
    line-height: 20px;
    color: #282D32;
    margin: 0 auto;
}
#precio{
    width: 53px;
    height: 20px;

    opacity: 70%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #4880FF;
    margin: 0 auto;
    margin-top: 8px;
}
#targeta3{
    position: relative;
}
#targeta3 > img {
    position: absolute;
    top: -48px;
    left: -48px;
}


#slide{
    margin-left:-20px;
    margin-top: -13px;
}

#targetaReloj{
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-left: 28px;
    margin-top: -25px;
}

.targetasReloj{
    width: 361px;
    height: 520px;
    border-radius: 14px;
    box-shadow:6px 6px 54 #000000 5% ;
    background-color: #FFFFFF;
    overflow: hidden;
}

.ProductoReloj{
    width: 361px;
    height: 317px;

    background-image: url(img/Dashboard_3/reloj.svg);
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ProductoReloj > img{
    width: 41px;
    height: 41px;
    margin-left: 14px;
    margin-right: 14px;
    cursor: pointer;
}

.detalleReloj{
    width: 321px;
    height: 133px;

    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
}

.articuloReloj{
    width: 185px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #202224;

    margin-top: 0px;
}

.precioReloj{
    width: 64px;
    height: 20px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;

    color: #4880FF;
    margin-bottom: 8px;
}

.botonReloj{
    width: 126px;
    height: 38px;
    border-radius:12px ;
    background-color: #E2EAF8;
    border: 0px solid;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #202224;

    margin-top: 20px;
    margin-bottom: 23px;
    cursor: pointer;
}

.like{
    cursor: pointer;
}

#contenido-favorites{
    width: 1141px;
    height: 1024px;

    margin-top: 23px;
    margin-left: 31px;

    gap: 30px;

}
#contenido-favorites > div{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.FavoriteReloj{
    width: 361px;
    height: 317px;

    background-image: url(img/Dashboard_4/reloj.svg);
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FavoriteReloj > img{
    width: 41px;
    height: 41px;
    margin-left: 14px;
    margin-right: 14px;
    cursor: pointer;
}

#contenido-inbox{
    width: 1141px;
    height: 1024px;
}
#email{
    position: absolute;

    width: 286px;
    height: 840px;
    margin-left: 30px;

    border: 0.3px solid transparent;
    border-radius: 14px;

    background-color: white;
}
#correos{
    position: absolute;

    width: 834px;
    height: 840px;

    margin-left: 337px;
    background-color: white;

    border: 0.3px solid transparent;
    border-radius: 14px;
}
#email > button{
    width: 238px;
    height: 43px;

    margin-top: 24px;
    margin-left: 25px;

    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #4880FF;
    opacity: 90%;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing:-0.05px ;
    color: #FFFFFF;
    cursor: pointer;
}

#email > nav{
    width: 238px;
    height: 339px;

    margin-top: 24px;
    margin-left: 25px;
}
#email > nav > h1{
    width: 69px;
    height: 22px;

    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.06px;

    color: #202224;

    margin-bottom: 16px;
}
#email > nav > li{
    width: 238px;
    height: 43px;
    list-style: none;
}
#email > nav > li > a > img{
    width: 20px;
    height: 20px;

    margin-left: 16.61px;
    margin-right: 12px;
}
#email > nav > li > a{
    width: 238px;
    height: 43px;

   display: flex;
   align-items: center;
   text-decoration: none;
   color: #202224;
} 
#emailselect{
    border-radius: 4px;
    background-color: #487fff2d ;
}

#emailselect > a > p{
    color: #3672ff;
}

.numeroRecibidos{
    margin-left: 107px;
}